<div class="container-fluid content-1st-header">
  <h1>Job Applications</h1>
  <p>Find here the job application's details</p>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="ja-show-appli-elem">For job: <%= @job_application.job_offer.title %></div>
    <div class="ja-show-appli-elem">Applied: <%= @job_application.job_offer.created_at.strftime("%d %b %Y") %></div>
    <div class="ja-show-appli-elem">Applicant name: <%= @job_application.first_name %> <%= @job_application.last_name %> </div>
    <div class="ja-show-appli-elem">Applicant email: <%= @job_application.email %> </div>
    <div class="ja-show-appli-elem">Motivation text: <%= @job_application.motivation %></div>

    <% if @job_application.job_offer.company.user == current_user %>
      <div class="ja-show-appli-elem">
        <%= mail_to @job_application.email, "Email applicant", class: "btn btn-success btn-ja-show-email", subject: "Your application to #{@job_application.job_offer.title}" %>
      </div>

      <% else %>
        <div> <%= link_to "Delete", job_application_path(@job_application), method: :delete, data: {confirm: "Are you sure?"} %> </div>
    <% end %>
  </div>
</div>
