<div class="container-fluid content-1st-header hp-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%= asset_path 'home-bckgrnd-computer.jpg' %>">
  <div class="content-1st-header-text">
    <h1>Job Board</h1>
    <div class="content-1st-header-tagline">
      Find & manage here all your jobs and applications
    </div>
  </div>
  <div class="content-1st-header-cta">
    <div class="home-main-links">
      <div class="home-btn-action">
        <%= link_to "All job offers", job_offers_path, class: "btn btn-primary btn-home-links" %>
      </div>
      <div class="home-btn-action">
        <%= link_to "Publish job offer", companies_path, class: "btn btn-primary btn-home-links" %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid hp-last-offers">
  <div>
    <h2> Last Job Offers</h2>
  </div>
  <div>
    <% @job_offers_last.each do |job| %>
      <div class="hp-last-offers-offer">
        <div class="hp-offer-title">
          <%= link_to job.title.truncate(50, separator: ' '), job_offer_path(job) %>
        </div>
        <div class="hp-offer-date">
          (published: <%= job.created_at.strftime("%d %b %Y") %>)
        </div>
      </div>
    <% end %>
  </div>
</div>
