<div class="container-fluid content-1st-header">
  <h1>My Companies</h1>
  <div>Find here all your companies</div>
  <% if @companies.count == 0 %>
  <div>To <strong>publish a job offer</strong> you need a company first</div>
  <% end %>
  <div><%= link_to "Create company", new_company_path, class: "btn btn-primary btn-crea-comp-index" %></div>
</div>

<div class="container-fluid comp-index">
  <div>
    <h2>My companies</h2>
  </div>
  <% @companies.each do |company| %>
    <div class="card">
      <div>Company: <%= link_to company.name, company_path(company) %></div>
      <div>Website: <%= company.website %></div>
      <div><%= link_to "Publish job offer", new_company_job_offer_path(company), class: "btn btn-success btn-comp-show-create" %></div>
      <div><%= link_to "Edit", edit_company_path(company) %></div>
    </div>
  <% end %>
</div>
