<h1>Companies#show</h1>
<p>Find me in app/views/companies/show.html.erb</p>
<div class="card">
  <div><%= @company.name %></div>
  <div><%= @company.website %></div>
  <div><%= @company.description %></div>
  <div><%= link_to "Edit", edit_company_path(@company) %></div>
  <div>
      <%= link_to "Delete", company_path(@company), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
  <div><%= link_to "Create job offer", new_company_job_offer_path(@company) %></div>
  <div><%= link_to "Add User", new_company_usercompany_path(@company) %></div>
  <div>Job offers: <%= @company.job_offers.count %> </div>
  <% @company.job_offers.each do |offer| %>
  <div><%= link_to offer.title, company_job_offer_path(offer) %> </div>
  <div>Applications: <%= offer.job_applications.count %> </div>
  <% end %>
</div>
