<div class="container-fluid jo-index-header">
  <h1>Job Offers</h1>
  <p>Find here all job offers available</p>
  <div class="home-btn-action">
    <%= link_to "Publish job offer", companies_path, class: "btn btn-primary btn-home-links" %>
  </div>
</div>

<div class="container-fluid comp-index-offers">
  <div>
    <h2>All Job Offers</h2>
  </div>

  <% @job_offers.each do |job_offer| %>
    <div class="card">
      <div><%= job_offer.company.name %></div>
      <div><%= link_to job_offer.title, job_offer_path(job_offer) %></div>
      <div><%= job_offer.description %></div>
      <div>Job applications' count: <%= job_offer.job_applications.length %> </div>
    </div>
  <% end %>
</div>
