<div class="container-fluid">

  <%= link_to "back to all offers", job_offers_path %>
  <h1> <%= @job_offer.title %></h1>
  <div class="jo-show-desc-title">Description:</div>
  <div class="jo-show-desc-content"> <%= @job_offer.description %> </div>

  <% if @job_offer.company.user == current_user %>
    <div> <%= link_to "Edit", edit_company_job_offer_path(@company, @job_offer) %> </div>
    <div> <%= link_to "Delete", company_job_offer_path(@company, @job_offer), method: :delete, data: {confirm: "Are you sure?"} %> </div>
  <% else %>
    <div><%= link_to "Apply", new_job_offer_job_application_path(@job_offer), class: "btn btn-success btn-jo-show-apply" %> </div>
  <% end %>

</div>
