<!DOCTYPE html>
<html>
  <head>
    <title>Startlabboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-main">
      <div><%= link_to "Home", root_path %></div>
      <% unless user_signed_in? %>
        <div><%= link_to "Log in", new_user_session_path %></div>
      <% else %>
        <div><%= link_to "Log out", destroy_user_session_path, method: :delete %></div>
        <div><%= link_to "Home", root_path %></div>

      <% end %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
