<!DOCTYPE html>
<html>
  <head>
    <title>Startlabboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM2U9Fnm6jv8PUsG9FnNnBN87PR_IJe14&libraries=places"></script>
  </head>

  <body>
    <div class="container-main">
      <%= render 'shared/navbar' %>
      <%= render 'shared/navbar_hidden' %>
      <%= render 'shared/flashes' %>
      <div class="container-content">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_pack_tag 'webapp_afterload' %>
  </body>
</html>
